# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
ENV/
env/
allistic_server/venv/

# VS Code settings (if you use VS Code)
.vscode/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Django stuff:
*.log
staticfiles/
media/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environments
.env
.env.*
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Database
*.sqlite3

# MacOS
.DS_Store

# Backup files
*.bak
*.swp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg